.cardNewProduct {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff90;
  border: 1px solid #264653;
  padding: 5px 15px;
  margin: 10px;
}

.imageNewProduct {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background: #ffffff90;
  margin: 10px;
}

.productImage {
  width: 100%;
  margin: 5px;
  text-align: center;
}

.inputImageProduct {
  width: 270px;
}

.amountProduct {
  margin: 10px;
}

.unitsAvailable {
  width: 270px;
  margin: 5px 0px;
}

.containerAmount {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonCountMas {
  width: 35px;
  border: none;
  background: #E91E60;
  color: #ffffff;
  font-weight: 800;
  border-radius: 3px;
}

.buttonCountMenos {
  width: 35px;
  border: none;
  background: #E91E60;
  color: #ffffff;
  font-weight: 800;
  border-radius: 3px;
}

.unids {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.inputAmount {
  width: 270px;
  padding-left: 10px;
}

.selectStorage {
  margin: 5px;
}

.containerSelectStorage {
  width: 270px;
  margin: 10px 0px;
}
.selectStorage {
  width: 270px;
}

.selectOptionsStorage {
  width: 270px;
  height: 25px;
  padding-left: 10px;
  outline: none;
  color: #E91E63;
}