.cardContainerProfile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc(100vh - 54px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
}

.cardProfile {
  width: 70%;
  margin-top: 30px;
  background: #1f1c32;
  color: #959d98;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.containerImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border-right: 1px solid #ffffff40;
}

.cardImage {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100%;
  margin: 15px;
}

.inputImage {
  width: 60%;
  outline: none;
  background: #1f1c32;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 10px;
}

.security {
  width: 60%;
  height: 25px;
  background: #a804bc;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.6s;
}

.security:hover {
  background-image: linear-gradient(to right, #c301d1, #ffffff30, #c301d1, #ffffff40 );
  animation:slidebg 2s linear infinite;

}

.cardDataUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cardTextProfile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputCard {
  width: 70%;
  border: none;
  margin: 8px;
  outline: none;
  background: #1f1c32;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  padding-left: 10px;
}

.inputCardAddress {
  width: 70%;
  border: none;
  margin: 8px;
  outline: none;
  background: #1f1c32;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  padding-left: 10px;
}

select {
  height: 25px;
}

.cardLabelInputProfile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.labelCardProfile {
  width: 45%;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

.cardButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.saveChanges {
  width: 150px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  padding: 7px;
  color: #f5f5f5;
  margin-right: 3px;
  background: #a804bc;
  transition: 0.6s;
}

.saveChanges:hover {
  background-image: linear-gradient(to right, #c301d1, #ffffff30, #c301d1, #ffffff40 );
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@media(max-width: 720px) {
  .cardProfile {
    width: 85%;
    background: #1f1c32;
    color: #959d98;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
  }

  .containerImage {
    border-right: none;
    padding-bottom: 5px;
  }

  .cardImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 15px;
  }

  .cardDataUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .inputCard {
    width: 75%;
    margin: 5px;
  }

  .inputCardAddress {
    width: 75%;
    margin: 5px;
  }

  select {
    height: 25px;
  }

  .cardLabelInputProfile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
  }

  .labelCardProfile {
    width: 45%;
    margin: 5px;
    color: #f5f5f5;
  }

  input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.9);
  }

  .cardButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
  }

  .saveChanges {
    width: 150px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 7px;
    color: #f5f5f5;
    margin-right: 3px;
    background: #a804bc;
    transition: 0.6s;
  }
}