.containerSecurity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc(100vh - 54px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.containerSecurityCard {
  width: 45%;
  background: #1f1c32;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #1f1c32;
}

.titleSecurity {
  width: 100%;
  color: #f5f5f5;
  text-align: center;
}

.divSecurity {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divInputIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono {
  color: #f5f5f5;
}

.divSecurityButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.inputSecurity {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  outline: none;
  color: #f5f5f5;
  background: #1f1c32;
  border-color: #f5f5f5;
}

.securitySave {
  width: 40%;
  height: 30px;
  margin: 5px;
  background: #a804bc;
  border: none;
  color: #f5f5f5;
  border-radius: 5px;
}

.securitySave:hover {
  cursor: pointer;
  background: #a804bc;
  box-shadow: none;
  background-image: linear-gradient(to right, #f5f5f540, #a804bc );
  animation:slidebg 2s linear infinite;
}

.securityBack {
  width: 40%;
  height: 30px;
  margin: 5px;
  background: #1f1c32;
  border: 1px solid #a804bc;
  color: #f5f5f5;
  border-radius: 5px;
}

.securityBack:hover {
  cursor: pointer;
  box-shadow: none;
  background-image: linear-gradient(to right, #24203b, #c301d1 );
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


@media(max-width: 720px) {
  .containerSecurityCard {
    width: 70%;
  }

  .divcegurity {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .inputSecurity {
    width: 80%;
  }

  .divSecurityButtons {
    width: 100%;
    flex-direction: column;
  }

  .securitySave {
    width: 80%;
    height: 25px;
    border-radius: 5px;
  }

  .securitySave:hover {
    cursor: pointer;
    background: #a804bc;
    box-shadow: none;
    background-image: linear-gradient(to right, #f5f5f540, #f5f5f540, #a804bc, #f5f5f540);
    animation:slidebg 2s linear infinite;
  }

  .securityBack {
    width: 80%;
    height: 25px;
    border-radius: 5px;
  }

  .securityBack:hover {
    cursor: pointer;
    box-shadow: none;
    background-image: linear-gradient(to right, #c301d1, #c301d1, #24203b, #c301d1);
    animation:slidebg 2s linear infinite;
  }
}