.containerSignIn {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.cardSignIn {
  width: 400px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCardSignIn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.titleSignIn {
  margin: 2px 0 20px 0;;
}

.textCard {
  text-align: end;
  margin-right: 10px;
}

.inputCardSignIn { 
  width: 45%;
  outline: none;
  background: #f5f5f5;
}

.containerOptionPassword {
  width: 68%;
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  align-items: center;
  font-weight: 500;
}

.forgotPassword {
  width: calc(45%);
  text-align: end;
  margin: 0;
  transition: 0.6s;
  font-size: 12px;
}

.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
  filter: brightness(90%);
}

.signUpSignIn {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(max-width: 720px) {
  .containerSignIn {
    height: 90vh;
  }

  .cardSignIn {
    width: 80%;
  }

  .inputCardSignIn {
    width: 50%;
  }

  .containerOptionPassword{
    width: 65%;
  }

  .forgotPassword {
    width: 50%;
  }
}

@media(max-width: 420px) {
  .containerOptionPassword {
    width: 78%;
  }
}