.logOut {
  box-sizing: border-box;
  width: 8%;
  height: 30px;
  margin: 5px 10px;
  background: #E91E69;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  transition: 0.6s;
}

.logOut:hover {
  cursor: pointer;
  box-shadow: none;
  background-image: linear-gradient(to right, #f5f5f590, #E91E69, #f5f5f590 );
  animation:slidebg 3s linear infinite;
}

