.MainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  height: calc(100vh - 54px);
  justify-content: flex-start;
}

.card {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f1c32 ;
  color: #d1c4a7;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #1e1c33;
}

.cardSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 2px 5px;
}

.cardLabel {
  width: 50%;
  padding: 2px;
}

.cardText {
  width: 50%;
  padding: 2px;
}

.cardStorageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.editStorage {
  width : 50%;
  margin: 3px;
  background:  #a804bc;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 1px 6px #840493;
  transition: .8s;
}

.editStorage:hover {
  cursor: pointer;
  box-shadow: none;
}

.deleteStorage {
  width: 50%;
  margin: 3px;
  color: #fff;
  background: #1f1c32;
  padding: 5px;
  border: none;
  border: 1px solid #a804bc;
  border-radius: 5px;
  box-shadow: 3px 1px 6px #840493;
}

.deleteStorage:hover {
  cursor: pointer;
  box-shadow: none;
  transition: 0.8s;
}

@media(max-width: 720px) {
.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.cardSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 2px 5px;
}

.cardLabel {
  width: 50px;
  height: 16px;
  font-size: 12px;
  margin-right: 5px;
  padding: 2px;
}

.cardStorageButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editStorage {
  width: 80%;
}

.deleteStorage {
  width: 80%;
}
}