.MainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  height: calc(100vh - 54px);
  justify-content: flex-start;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f1c32 ;
  color: #d1c4a7;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #1e1c33;
}

.cardSectionStorage {
  width: 100%;
  margin: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardLabelStorage {
  width: 40%;
  margin-right: 10px;
  text-align: end;
}

.cardTextStorage {
  width: 40%;
  margin-left: 15px;
}

.cardStorageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.editStorage {
  width : 40%;
  margin: 3px;
  background:  #a804bc;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: .8s;
}

.editStorage:hover {
  cursor: pointer;
  box-shadow: none;  background-image: linear-gradient(to right, #c301d1, #ffffff90 );
  animation:slidebg 3s linear infinite;
}

.deleteStorage {
  width: 40%;
  margin: 3px;
  color: #fff;
  background: #1f1c32;
  padding: 5px;
  border: none;
  border: 1px solid #a804bc;
  border-radius: 5px;
  transition: 0.8s;
}

.deleteStorage:hover {
  cursor: pointer;
  box-shadow: none;
  background-image: linear-gradient(to right, #24203b, #c301d1 );
  animation:slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@media(max-width: 720px) {
.card {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.cardSectionStorage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 2px 5px;
}

.cardStorageButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editStorage {
  width: 80%;
}

.deleteStorage {
  width: 80%;
}
}